.graph-stats {
    border-bottom: 1px solid #000000; /* Add a bottom border */
    /* Other styles for the header */
    border-bottom: 1px solid #000000; /* Add a bottom border */
    margin-top: -800px;
  }


  