.header-info {
  position: relative; /* Needed for absolute positioning of the pseudo-element */
  min-height: 50px; /* or any appropriate value */
  border-bottom: 1px solid #000;
}

body.dark-mode .header-info {
  border-bottom: 1px solid #fff; /* White line in dark mode */
}

body {
  transition: background-color 0.5s;
  background-color: #fff; /* Light mode background color */
  color: #000; /* Light mode text color */
}


