/* Resetting default margins and paddings */
body, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

/* Body styling */
body {
  background-color: rgb(248, 248, 248);
}

/* Main app container styling */
.app {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Full viewport height */
}

/* Main content area styling */
.main-content {
  flex-grow: 1; 
  overflow-y: auto; 
}

/* Sidebar styling */
.sidebar {
  width: 200px; 
  height: 100%; 
}

/* This is the darkmode css. When you click the button it sets the styling to these options below*/


